.list-layout {
  --border-color: #d9d9d9;
  --background-color: #f5f5f5;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --gap: 16px;
}

.list-layout {
  position: relative;
  width: 100%;
  border-radius: 4px;
}

.list-layout-head {
  border-bottom: 1px solid var(--border-color);
}

.list-layout-neck {
  border-bottom: 1px solid var(--border-color);
}

.list-layout-body {
  /* padding: var(--gap); */
}

.list-layout.background {
  background: var(--background-color);
}

.list-layout.border {
  border: 1px solid var(--border-color);
}

.list-layout.shadow {
  box-shadow: 0 6px 12px 6px var(--shadow-color);
}
