.form-editor-layout .ant-tabs-nav {
  width: calc(100% - 24px);
  margin: 0 auto;
}

.form-editor-layout .ant-tabs-content {
  overflow: auto;
}

.form-editor-layout .ant-tabs-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.form-editor-layout .ant-tabs-content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.form-editor-layout .ant-tabs-content::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 6px;
}

.form-editor-layout .ant-collapse {
  background-color: unset;
}

.form-editor-layout .ant-collapse-item .ant-collapse-header {
  padding: 6px 8px;
}

.form-editor-layout .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  padding: 4px 12px 12px;
}

.form-editor-wrapper > form {
  height: 100%;
  padding-top: 32px;
  border-radius: 24px;
}

.form-editor-wrapper .basic-form-layout::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.form-editor-wrapper .basic-form-layout::-webkit-scrollbar-track {
  display: none;
}

.form-editor-wrapper .basic-form-layout::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 4px;
  display: none;
}

.form-editor-wrapper:hover .basic-form-layout::-webkit-scrollbar-thumb {
  display: block;
}
