.form-editor-layout .ant-tabs-nav {
  padding: 0 12px;
  margin: 0;
}

.form-editor-layout .ant-tabs-content {
  overflow: auto;
}

.form-editor-layout .ant-tabs-content::-webkit-scrollbar {
  width: 6px;
}

.form-editor-layout .ant-tabs-content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.form-editor-layout .ant-tabs-content::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 6px;
}

.form-editor-layout .ant-collapse-item .ant-collapse-header {
  padding: 6px 8px;
}

.form-editor-layout .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  padding: 4px 12px 12px;
}
