.form-editor-layout {
  display: flex;
  border: 1px solid #f1f1f1;
}

.form-editor-layout-side {
  width: 256px;
  height: auto;
  padding: 20px;
  overflow: auto;
}

.form-editor-layout-body {
  position: relative;
  min-width: 580px;
  flex: 1;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) inset;
  overflow: auto;
}
