.cell-editor {
  position: relative;
  min-height: 20px;
  line-height: initial;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.4s;
}

.cell-editor::after {
  display: table;
  clear: both;
  content: "";
}

.cell-editor.cell-editor-lock .cell-editor-mask {
  background: rgba(255, 0, 0, 0.03);
}

.cell-editor.cell-editor-lock .cell-editor-mask .icon {
  display: block;
}

.cell-editor.cell-editor-lock .cell-editor-resize {
  display: none;
}

.cell-editor.cell-editor-lock .cell-editor-name {
  border-right: none;
}

.cell-editor.cell-editor-lock .cell-editor-button {
  display: none;
}

.cell-editor.cell-editor-lock .cell-editor-actions {
  right: 0;
}

.cell-editor-label {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: bold;
  opacity: 0.6;
}

.cell-editor-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.cell-editor-mask .icon {
  color: #f44336;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.cell-editor-actions {
  display: flex;
  position: absolute;
  top: 0;
  right: 4px;
}

.cell-editor-name {
  line-height: 20px;
  padding: 0 6px;
  font-size: 12px;
  color: #6f6af8;
  opacity: 0.8;
}

.cell-editor-button {
  width: 20px;
  height: 20px;
  background: #6f6af8;
  font-size: 12px;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s;
}

.cell-editor-button:hover {
  opacity: 1;
}

.cell-editor-button-danger {
  background: #f44336;
}

.cell-editor-handle {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 8px 0 0;
  cursor: move;
}

.cell-editor.cell-editor-ghost {
  box-shadow: none;
}

.cell-editor.cell-editor-ghost:hover {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.cell-editor.cell-editor-ghost .cell-editor-mask,
.cell-editor.cell-editor-ghost .cell-editor-actions,
.cell-editor.cell-editor-ghost .cell-editor-handle {
  opacity: 0;
  transition: 0.4s;
}

.cell-editor.cell-editor-ghost .cell-editor-actions {
  right: 0;
}

.cell-editor.cell-editor-ghost .cell-editor-resize {
  opacity: 0;
}

.cell-editor.cell-editor-ghost:hover .cell-editor-mask,
.cell-editor.cell-editor-ghost:hover .cell-editor-actions,
.cell-editor.cell-editor-ghost:hover .cell-editor-handle,
.cell-editor.cell-editor-ghost.cell-editor-selected .cell-editor-mask,
.cell-editor.cell-editor-ghost.cell-editor-selected .cell-editor-actions,
.cell-editor.cell-editor-ghost.cell-editor-selected .cell-editor-handle,
.cell-editor.cell-editor-ghost.cell-editor-selected .cell-editor-resize {
  opacity: 1;
}

.cell-editor.cell-editor-ghost.cell-editor-selected .cell-editor-actions {
  right: 4px;
}

.cell-editor.cell-editor-selected,
.cell-editor.cell-editor-selected:hover {
  box-shadow: 0 0 4px 0 #6f6af8;
  z-index: 9;
}

.cell-editor.cell-editor-selected .cell-editor-handle {
  opacity: 1;
}
