.flex-form-layout {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  /* bottom: 0; */
  /* min-height: 100%;
  padding: 20px; */
}

.flex-form-layout-item {
  padding: 0 10px;
}

.flex-form-layout-item-inline {
  display: inline-block;
  padding: 0 10px;
}
