.relation-editor {
  --space: 8px;
}

.relation-editor-source {
  padding-bottom: var(--space);
  border-bottom: 1px dashed #d9d9d9;
}

.relation-editor-unit-label {
  padding: var(--space);
  text-align: center;
  color: #b9b9b9;
}

.relation-editor-source-node {
  flex: 1;
  background-color: #6d68f8;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.relation-editor-item {
  padding-bottom: var(--space);
  border-bottom: 1px dashed #d9d9d9;
}

.relation-editor-item-target {
  position: relative;
  display: flex;
  align-items: center;
}

.relation-editor-item-target-node {
  flex: 1;
  color: #6d68f8;
  text-align: center;
}

.relation-editor-item-target-config {
  display: flex;
}

.relation-editor-item-target-select {
  flex: 1;
}

.relation-editor-item-target-remove {
  margin-left: var(--space);
}

.relation-editor-item-effect {
  display: flex;
  margin-top: var(--space);
}

.relation-editor-item-effect-func {
  min-width: 5em;
  margin-right: var(--space);
}

.relation-editor-item-effect-type {
  flex: 1;
  background: #f1f1f1;
  border-radius: 4px;
  text-align: center;
}

.relation-editor-item-effect-remove {
  margin-left: var(--space);
}

.relation-editor-add {
  display: flex;
}

.relation-editor-add > :nth-child(1) {
  flex: 1;
  margin-right: var(--space);
}
