.user-info-block {
  display: flex;
  align-items: center;
}

.user-info-avatar {
  padding: 1px;
  margin-right: 12px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.user-info-name {
  font-size: 16px;
}
